@media screen and (max-width: 375px) {
    body {
         font-size: .9rem;
        line-height: 1.3;
        /* padding: 2rem; */
    }
    .docs-article {
        padding: .9rem;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: .9rem;
        line-height: 1.3;
        /* padding: 2rem; */
    }
    .docs-article {
        padding: .4rem;
    }
}